{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
	  "ecmaVersion": 2020,
	  "sourceType": "module",
	  "ecmaFeatures": {
		"jsx": true
	  }
	},
	"plugins": ["@typescript-eslint", "react"],
	"extends": [
	  "eslint:recommended",
	  "plugin:@typescript-eslint/recommended",
	  "plugin:react/recommended"
	],
	"rules": {
	  "react/react-in-jsx-scope": "off", // Отключить обязательный импорт React
	  "@typescript-eslint/no-unused-vars": "warn", // Предупреждать о неиспользуемых переменных
	  "@typescript-eslint/explicit-module-boundary-types": "off", // Не требовать типы для экспортируемых функций
	  "react/prop-types": "off" // Отключить PropTypes, если используется TypeScript
	}
  }